<h2> Харе Кришна! <br>{{ name }} оставил(а) новый заказ.</h2>
<p> <pre>
    патрам̇ пушпам̇ пхалам̇ тойам̇
    йо ме бхактйа̄ прайаччхати
    тад ахам̇ бхактй-упахр̣там
    аш́на̄ми прайата̄тманах̣</pre> </p>
<p>Если человек с любовью и преданностью поднесет Мне листок, цветок, плод или немного воды, Я непременно приму его подношение (Б.Г. 9.26).</p>
