<h1>Вы оставили заказ на нашем сайте. Мы свяжемся с вами в ближайшее время.</h1>
<h2>Детали заказа:</h2>
{{#list cart.productsInCart}}
{{/list}}
<h2>Полная стоимость заказа: {{price}}р.</h2>
<h2>Общее колличество товаров: {{#quantity cart.productsInCart}}{{/quantity}}</h2>
