<h2>Вы успешно зарегистрировались на сайте!</h2>
<h3>Ваши данные для входа:</h3>
<p>Email: <strong> {{email}}</strong></p>
<p>Пароль: <strong> {{password}}</strong></p>
<span>Вы всегда можете изменить почтовый адрес или пароль в своем профиле.</span>
<h3>Спасибо, что пользуетесь нашим сервисом!</h3>